.ul.nav.navbar-nav.navbar-left
  %li= link_to "Room Types", admin_room_types_path
  %br/  
  %li= link_to "Rooms", admin_rooms_path
  %br/
  %li= link_to "Users", admin_users_path
  %br/
  %li= link_to "Bookings", admin_bookings_path